SERVER_PORT=3000
WORKER_PORT=3001
S3_PORT=3900
DATABASE_PORT=5432
REDIS_PORT=6379

POSTGRES_PASSWORD=UE9TVEdSRVNfUEFTU1dPUkQK
POSTGRES_USER=UE9TVEdSRVNfVVNFUgo=

REDIS_PASSWORD=UkVESVNfUEFTU1dPUkQK

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${DATABASE_PORT}/postgres

