SERVER_PORT=3000
WORKER_PORT=3001
S3_PORT=3900
DATABASE_PORT=5432
REDIS_PORT=6379

POSTGRES_PASSWORD=UE9TVEdSRVNfUEFTU1dPUkQK
POSTGRES_USER=UE9TVEdSRVNfVVNFUgo=

REDIS_PASSWORD=UkVESVNfUEFTU1dPUkQK
REDIS_CONNECTION_STRING=redis://default:${REDIS_PASSWORD}@127.0.0.1:${REDIS_PORT}/

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${DATABASE_PORT}/postgres

S3_ENDPOINT=http://localhost:${S3_PORT}
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=garage
BUCKET_NAME=data-go-fast
