@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

/* optionnal styling  / reference values */
:root {
  --text: #2d2d2a;
  --text-h: #08060d;
  --bg: #f2efea;
  --border: #e6e2d8;
  --code-bg: #f2efea;
  --accent: #e6e2d8;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --orange: #f65d19;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  /* --card:  #f2efea;
  --card-foreground: oklch(0.145 0.008 326);
  --popover:  #f2efea;
  --popover-foreground: oklch(0.145 0.008 326);
  --primary: oklch(0.518 0.253 323.949);
  --primary-foreground:  #f2efea;
  --secondary: #e6e2d8;
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: #e6e2d8;
  --muted-foreground: oklch(0.542 0.034 322.5);
  --accent-foreground: oklch(0.212 0.019 322.12);
  --destructive: oklch(0.577 0.245 27.325); */
  --input: #e6e2d8;
  --radius: 0.625rem;
  --sidebar: #f2efea;
  --sidebar-foreground: oklch(0.145 0.008 326);
  --sidebar-primary: oklch(0.591 0.293 322.896);
  --sidebar-primary-foreground: #f2efea;
  --sidebar-accent: #e6e2d8;
  --sidebar-accent-foreground: oklch(0.212 0.019 322.12);
  --sidebar-border: #e6e2d8;
  --sidebar-ring: oklch(0.711 0.019 323.02);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f2efea;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  text-align: center;
  border-inline: 1px solid #f2efea;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: #8828ad;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.header {
  background-color: var(--bg);
  border-bottom-color: var(--border);
  color: #8828ad;
}

.footer {
  background-color: var(--bg);
  border-top-color: var(--border);
  color: #ae73bf;
}

section {
  background-color: var(--bg) !important;
  border-top-color: var(--border) !important;
}
